<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Modifier</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <form name="form" *ngIf="!isSuccessful" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
    <div class="modal-body">
      <span>Titre</span>
      <div class="input-group">
        <input type="text" name="titre" [(ngModel)]="annonce.titre" required #titre="ngModel" class="form-control"
          aria-label="Entrez un titre" />
      </div>
    </div>

    <div class="modal-body">
      <span>Description</span>
      <div class="input-group">
        <textarea class="form-control rounded" name="description" [(ngModel)]="annonce.description"
          #description="ngModel" aria-label="Entrez une description">
        </textarea>
      </div>
    </div>

    <div class="modal-body">
      <span>Prix</span>
      <div class="input-group">
        <input type="text" name="prix" [(ngModel)]="annonce.prix" required #prix="ngModel" class="form-control"
          aria-label="Entrez un prix" />
        <span class="input-group-text">€</span>
      </div>
    </div>

    <div class="modal-body">
      <span>Photo</span>
      <div class="input-group">
        <input type="text" name="photo" [(ngModel)]="annonce.photo" #photo="ngModel" class="form-control"
          aria-label="Entrez une URL de photo" />
      </div>
    </div>

    <div class="alert-warning" *ngIf="f.submitted && !isSuccessful">
      Erreur d'enregistrement :<br />{{ errorMessage }}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Annuler</button>
      <button class="btn btn-primary">Sauvegarder</button>
    </div>
  </form>
  <div *ngIf="isSuccessful">
    <div class="alert-success">{{ message }}</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    </div>
  </div>
</div>